footer#footer.flex-row.footer-wrapper
    .logo {% include icons/logo.html %}

    .footer-content-wrap
      nav.main-menu
        a(href="") About Me
        a(href="") Work
        a(href="") Clients
        a(href="") Contact
      p.copyright All content is free 2017
