section.alt-section.section-contact
  h3#contact Contact

  .social-links.flex-row
    .circle
      a(href="https://www.facebook.com/web.vadimkolosov" target="_blank") {% include icons/icon-facebook.html %}
    .circle
      a(href="https://vk.com/web.vadimkolosov" target="_blank") {% include icons/icon-vk.html %}
    .circle
      a(href="https://www.linkedin.com/in/vadimkolosov" target="_blank") {% include icons/icon-linkedin.html %}

  hr.bar

  a(href="mailto:web.vadimkolosov@gmail.com").biglink {{ site.data.settings.email }}
