section.white-section.section-form

  h3#footer Let's Work Together

  form(action='https://formspree.io/{{ site.data.settings.email }}', method='POST')

    .contact-info-group.flex-row
      label
        span Your Name
        input(type='text', name='name')

      label
        span Your Email
        input(type='email', name='_replyto')

    label
      span Tell me about your project
      textarea(name="message")

    input(type='submit', value='Send')
