section.white-section
  h3#about-me About Myself
  .flex-row.face-lockup
    .face-img
    .icon-pencil {% include icons/icon-pencil.html %}
    .icon-mouse {% include icons/icon-mouse.html %}
    .icon-browser {% include icons/icon-browser.html %}
    .icon-video {% include icons/icon-video.html %}

  .blurb
    p <strong>Vadim specializes in making things</strong> for human people. Most of the things are digital interfaces. Web design for him is like an ocean, it brings you waves with new ideas and technologies. <small>Wanna swim?</small>

  .skill-lockup
    .skill-unit
      .skill-label Communication
      .skill-icons.skill-7
        - for (var x = 0; x < 10; x++)
          span
    .skill-unit
      .skill-label Organization
      .skill-icons.skill-7
        - for (var x = 0; x < 10; x++)
          span
    .skill-unit
      .skill-label Learning
      .skill-icons.skill-10
        - for (var x = 0; x < 10; x++)
          span
    .skill-unit
      .skill-label Teaching
      .skill-icons.skill-5
        - for (var x = 0; x < 10; x++)
          span
    .skill-unit
      .skill-label Planing
      .skill-icons.skill-7
        - for (var x = 0; x < 10; x++)
          span
    .skill-unit
      .skill-label Visual Design
      .skill-icons.skill-5
        - for (var x = 0; x < 10; x++)
          span
    .skill-unit
      .skill-label UX Design
      .skill-icons.skill-8
        - for (var x = 0; x < 10; x++)
          span
    .skill-unit
      .skill-label Programming
      .skill-icons.skill-9
        - for (var x = 0; x < 10; x++)
          span
