
<section class="white-section section-form">
  <h3 id="footer">Let's Work Together</h3>
  <form action="https://formspree.io/{{ site.data.settings.email }}" method="POST">
    <div class="contact-info-group flex-row">
      <label><span>Your Name</span>
        <input type="text" name="name"/>
      </label>
      <label><span>Your Email</span>
        <input type="email" name="_replyto"/>
      </label>
    </div>
    <label><span>Tell me about your project</span>
      <textarea name="message"></textarea>
    </label>
    <input type="submit" value="Send"/>
  </form>
</section>