
<section class="alt-section section-contact">
  <h3 id="contact">Contact</h3>
  <div class="social-links flex-row">
    <div class="circle"><a href="https://www.facebook.com/web.vadimkolosov" target="_blank">{% include icons/icon-facebook.html %}</a></div>
    <div class="circle"><a href="https://vk.com/web.vadimkolosov" target="_blank">{% include icons/icon-vk.html %}</a></div>
    <div class="circle"><a href="https://www.linkedin.com/in/vadimkolosov" target="_blank">{% include icons/icon-linkedin.html %}</a></div>
  </div>
  <hr class="bar"/><a class="biglink" href="mailto:web.vadimkolosov@gmail.com">{{ site.data.settings.email }}</a>
</section>